.title {
    color: #9BF0E1;
    display: flex;
    justify-content: center;
}

.playlist-image {
    height: 320px;
    width: 320px;
    margin: 10px;
}

.container {
    display: flex;
}

.flex-collum {
    display: flex;
    flex-direction: column;
}

.track {
    margin: 10px;
}